<div class="card bg-dark text-white" style="width: 18rem; width: 18rem; display: flex; justify-content: center; align-items: center; gap: 20px; margin: 30px 35px">
    <img src="{{images.[0].url}}" class="card-img-top" alt="Image {{name}}" style="width: 110%; height: 110%;">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <a href="/tracks/{{id}}" class="btn btn-primary">View Tracks</a>
    </div>
</div>  